Build_an_Instagram_Clone_with React Native_-_Firebase_Firestore_-_Redux_-_Expo_-_Full_Course
connection
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
